@charset "UTF-8";

body{
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	width: 70%;
	border: 2px solid #000000;
	box-shadow: 5px 5px 1px 1px;
	font-family: monospace;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
	background-color: #d3d3d3;
}

ul{
	background-color: #ffffff;
	margin:10px;
	padding: 20px;
	border: 1px solid #000000;
	box-shadow: 2px 2px 1px 1px;
	text-align: justify;
}

.error {
    color: #ff0000;

}

